<?xml version="1.0"?>
<launch>

	<!-- arguments passed to this launch file --> 
	<arg name="config" default="$(find robosim)/launch/disp.rviz"  />
	<arg name="model"  default="$(find robosim)/model/robot.xacro" />
	<arg name="gui"	   default="true" />
	
	<!-- load the URDF into the ROS Parameter Server -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<param name="use_gui"           value="$(arg gui)" />
	
	<!-- start nodes-->
	<node name="joint_state_publisher" 
	       pkg="joint_state_publisher" type="joint_state_publisher" />
	       
	<node name="robot_state_publisher" 
	       pkg="robot_state_publisher" type="state_publisher" />
	       
	<node name="rviz" pkg="rviz" type="rviz" required="true" 
	      args="-d $(arg config)" />
	
</launch>
